extends layouts/layout

block content
  p 안녕하세요!
  p 애견인과 댕댕이의 행복한 멍라밸을 위한 플랫폼,
  p Dangder(댕더)🦴입니다! 
  p 발급된 메일 인증 코드는 다음과 같습니다.
  h2 Validate Code : #{code} 🐾
  p 발급된 코드를 회원가입 양식에 입력해주세요.
  p 인증번호는 5분간 유효합니다
  p